<h2>
  <%= link_to post.title, post %>
</h2>

<p>
	<% if post.kind == 'image' %>

		<%= image_tag post.body, style: 'width: 100%' %>
	<% else %>
  <%= simple_format post.body %>
  <% end %>
</p>

<p class="text-muted">
	<small>
	<%= post.created_at.to_formatted_s(:long) %>
</small>
</p>
